#head
{
	background-color :#180d5e; 
	min-width: 730px;
	max-height: 580px;

}
#logo
{
	min-height: 100px;
	min-width :50px;
	max-height:100px;
	max-width:300px;
	background-color: white;
}
ul
{
	font-size: 30px;
	font-family: 'Hammersmith One', sans-serif;
	padding-top: 30px;
}
a:hover
{
	color: #180d5e;
}
* {box-sizing:border-box}
.mySlides {display:none}

.slideshow-container
{
  position: relative;
  margin:auto;
  max-height: 400px;
  max-width: 700px;
  min-width:360px;
  min-height: 480px; 
  padding-left: 30px;
}
#c1,#c2,#c3
{
	max-height: 400px;
	max-width: 700px;
	min-width:360px;
	min-height: 480px;
	margin:auto;
}
.dot
{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  padding-right: 3px;
}
.active
{
  background-color: #180d5e;
}
.fade
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade
{
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) 
{
  .text {font-size: 11px}
}
#institute
{
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 10px;
	text-align: center;
	font-size: 25px;
	color:#180d5e;
}
#cedlogo,#ceglogo,#capitalizelogo
{
	max-height: 265px;
	max-width: 376px;
	min-width: 100px;
	min-height: 100px;
	padding-left: 20px;
    border-radius: 60%;
	border-color: #180d5e;
}
#p1
{
	font-family: 'Hammersmith One', sans-serif;
	font-style: italic;
	font-size: 23px;
	text-shadow: 10px;
	text-align: center;
}
h3
{
	font-weight: bolder;
}
#foot
{
	background-color: #180d5e;
    min-height :100px;
    min-width: 730px;
}
#copyright
{
	color:white;
	margin-top: 50px;
}
#social
{
	margin-top: 30px;
}
i
{
	color:white;
	padding-right: 20px;
}
#v1
{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 23px;
	text-shadow: 10px;
	text-align: center;
	color: #180d5e;
}
#v2
{
	font-family: 'Hammersmith One', sans-serif;
	font-style: italic;
	font-size: 23px;
	text-shadow: 10px;
	text-align: center;
}